/* utility 
color:
blu: #245ee9
black: #23272a
grey: #f6f6f6
lilac: #8c9fdf

*/
:root {
  --blu: #245ee9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.debug {
  border: 1px solid black;
  min-height: 500px;
  min-width: 400px;
  background-color: #245ee9;
}

/* general */
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-size: 14px;
}

header {
  width: 100%;
  background-color: var(--blu);
}
footer {
  background-color: #23272a;
  color: #fff;
  height: 600px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: block;
  padding: 8px 12px;
  background-color: #fff;
  color: #23272a;
  border-radius: 20px;
  text-decoration: none;
  transition: box-shadow 1s;
}

.btn:hover {
  box-shadow: 2px 2px 10px black;
}

/* header */
/* nav */
header .container {
  padding: 20px 40px;
  height: 75px;
}
nav ul {
  min-width: 500px;
}
li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
}

#logo {
  height: 30px;
}

/* hero */
.hero {
  height: 495px;
  background-image: url("../img/jumbo.png");
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 120px;
}

.inner-hero {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.hero h1 {
  padding: 50px 0 30px;
  margin-top: -100px;
  font-size: 50px;
}

.text-hero {
  line-height: 1.8;
  font-size: 18px;
  /* min-width: 750px; */
  /* margin-left: -70px;   */
}

#buttons {
  display: flex;
  justify-content: space-around;
}

.btn-hero {
  margin: 20px 10px;
  padding: 16px 25px;
  font-size: 18px;
  border-radius: 30px;
}

.btn.btn-hero.hov:hover {
  color: #8c9fdf;
}

.btn-black {
  background-color: #23272a;
  color: #fff;
  width: 50%;
  margin-left: -50px;
}

.btn-black:hover {
  background-color: #37393b;
}

/* main */
main {
  margin-bottom: -150px;
}
.img-main {
  width: 60%;
}

.container-main {
  width: 70%;
  margin-top: -20px;
  margin-bottom: 140px;
}

.section-text {
  width: 30%;
}

.section-text h2 {
  font-size: 45px;
  margin-top: 30px;
}

.section-text p {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 20px;
}

.ml {
  margin-left: 20px;
}

.mr {
  margin-right: 10px;
}

.grey-section {
  width: 100%;
  background-color: #f6f6f6;
}

.wave {
  color: #f6f6f6;
}

.reverse {
  transform: rotate(0.5turn);
  margin-top: -150px;
  margin-bottom: 160px;
}

.bg-section {
  flex-flow: column;
}
.bg-section div {
  width: 90%;
  padding-top: 100px;
}

.bg-section img {
  width: 100%;
}

.bg-section .section-text {
  text-align: center;
}

#foot-bg-section {
  background-image: url("../img/stars.svg");
  background-size: 520px;
  background-position-y: 30px;
  background-repeat: no-repeat;
  background-position-x: 220px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#foot-bg-section h3 {
  font-size: 26px;
  margin-top: -40px;
}

.btn-lilac {
  margin-bottom: 100px;
  margin-top: 30px;
  width: 21%;
  background-color: #8c9fdf;
  color: #fff;
  font-size: 18px;
  padding: 15px 0px;
  border-radius: 30px;
}

.btn-lilac:hover {
  background-color: #9eade0;
}

.btn-lilac i {
  margin-right: 7px;
}

/* footer */
.container-footer {
  display: flex;
  min-height: 300px;
  width: 1100px;
}

.div-footer {
  width: calc(100% / 5);
}

.bd {
  width: calc((100% / 5) * 2);
}

.ul-footer {
  line-height: 30px;
  padding: 60px 0px 0px 0px;
}

.fr-li {
  color: #8c9fdf;
  font-weight: bolder;
  font-size: 16px;
}

.fr-li span {
  font-size: 30px;
  font-weight: bolder;
}

select {
  color: #fff;
  background-color: #23272a;
  border: 0px;
  outline: 0px;
}

#ita {
  margin-top: 30px;
  width: 25px;
  height: 15px;
}

#ul-social {
  display: flex;
}

#ul-social li {
  padding: 10px 25px 0 0;
}

.separator {
  height: 1px;
  background-color: #444a68;
  width: 1105px;
  margin: 40px auto;
}

.end-footer {
  padding: 10px 40px;
}

.end-footer .btn {
  background-color: #8c9fdf;
  color: #fff;
}

/* download page */
/* header + hero  */
#download nav.container {
  background-color: #23272a;
  max-width: 1300px;
}

#download .flex-box li {
  margin-right: 40px;
}

#download header {
  background-color: #23272a;
}

#download .hero {
  background-color: #23272a;
  background-image: none;
  flex-flow: row;
  height: 800px;
  margin-top: -100px;
}

#download .inner-hero {
  text-align: left;
  width: 38%;
  margin-left: 180px;
  margin-top: 110px;
}
#download h1 {
  font-weight: 1000;
  /* width: 45%; */
  line-height: 50px;
  font-size: 60px;
}

.img-hero img {
  width: 700px;
  height: 420px;
  margin-right: 100px;
  margin-top: 50px;
}

#download .btn.hov {
  margin-left: -40px;
  background-color: #5865f2;
  color: #fff;
}

.no-btn {
  margin: 40px 30px 0 -40px;
}

/* main */
#download .container {
  width: 1300px;
}
#download main {
  justify-content: center;
  width: 100%;
  margin-top: -50px;
}

#download main div {
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.card {
  width: 560px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 20px;
  padding: 60px;
  height: 550px;
  overflow: hidden;
  background-color: #f6f6f6;
}

#download .btn {
  padding: 18px 32px;
  border-radius: 40px;
  font-size: 18px;
  background-color: #23272a;
  color: #fff;
}

#download .nav-btn {
  display: block;
  padding: 8px 12px;
  background-color: #fff;
  color: #23272a;
  border-radius: 20px;
  text-decoration: none;
  transition: box-shadow 1s;
  font-size: 14px;
}

#download .btn:hover {
  box-shadow: none;
}

#download h3 {
  font-size: 32px;
  padding: 20px 10px;
}

#download footer {
  margin-top: 150px;
}

#logo-down {
  margin-top: -100px;
}

.btn-down {
  margin-top: -40px;
}

.left {
  float: left;
}

.right {
  margin-left: -5pxs;
  float: right;
  padding-top: 170px;
}

.last-card {
  height: 350px;
  font-size: 20px;
}

.last-card p {
  display: block;
  margin-left: 10px;
}

#build {
  font-size: 20px;
}
